@page
@model MiFicExamples.Pages.Vault.IndexModel
@{
    ViewData["Title"] = "Fetch a secret from Key Vault in a differnt tenant";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/app-service/">building Web apps on Azure App Service</a>.</p>
    <p>    
        <h3>Getting a secret from a KeyVault in a different tenant:</h3>
        <br /><br /><br />
        <span><strong>The secret is:</strong> @Model.SecretFromAnotherTenantUsingMsiFic</span>
        <br />
    </p>
</div>